<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{{ ROOT_URL }}/statics/css/bootstrap.css">
    <link rel="stylesheet" href="{{ ROOT_URL }}/statics/css/bootstrap-theme.css">
    <link rel="stylesheet" href="{{ ROOT_URL }}/statics/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ ROOT_URL }}/statics/css/style.css">
    {% block css %}{% endblock %}

    <script src="{{ ROOT_URL }}/statics/js/jquery.min.js"></script>
    <script src="{{ ROOT_URL }}/statics/js/bootstrap.min.js"></script>
    {% block js %}{% endblock %}
</head>
<body>
<div class="container">
    {% block body %}{% endblock %}
</div>
{% block script %}{% endblock %}
</body>
</html>